body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
}

.wrapper {
    position: relative;
}


.plz {
    stroke: lightgrey;
    stroke-width: 0.3px;
}

.states {
    stroke: lightgrey;
}

.states:hover{
    fill: cornflowerblue;
}

.plz:hover {
    fill: cornflowerblue;
}

.title {
    font-size: 1.5em;
    text-align: bottom;
}

.legend {
    font-size: 1em;
    opacity: 0.8;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltip-plz {
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 1.3em;
}

.tooltip-value {
    font-size: 1em;
}
