image: docker:latest

variables:
  BARBERINI_ANALYTICS_CONTEXT: CI

workflow:
  rules:
    - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH  
  
# Stages are required a) to priorize jobs and b) to avoid concurrency issues.
stages:
  - build
  - test
  - analyze

build:
  stage: build
  tags:
    - barberini
  script:
    - docker build -t test ./docker

unittest:
  stage: test
  tags:
    - barberini
  script:
    - container=$(docker ps -f name=gitlab-runner-barberini_analytics_luigi -q)
    - if [ -n "$container" ]; then docker stop $container && docker rm $container; fi
    - make startup
    - docker exec --env FULL_TEST=$FULL_TEST gitlab-runner-barberini_analytics_luigi make coverage  
    - make shutdown
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  artifacts:
    paths: 
      - htmlcov

minimal-mining-pipeline:
  stage: test
  tags:
    - barberini
  script:
    - ./scripts/tests/run_minimal_mining_pipeline.sh

test-pbi-reports:
  stage: test
  rules:
    - if: '$CI_SERVER_HOST != "gitlab.hpi.de"'
      when: never  # WORKAROUND: bernd-windows currently only available at HPI
    - if: '$FULL_TEST'
      when: always
    - if: '$CI_MERGE_REQUEST_SOURCE_BRANCH_NAME =~ /.*test-powerbi.*/ && $CI_MERGE_REQUEST_TITLE =~ /WIP: .*/'
      when: always
    - if: '$CI_MERGE_REQUEST_TITLE =~ /.*\[ci-test-pbi\].*/'
      when: always
  tags:
    - bernd-windows
  before_script:
    - powershell -Command "&scripts/setup/install_powershell_deps.ps1"
  script:
    - powershell -Command "&tests/pbi_reports/test_pbi_reports.ps1"
  artifacts:
    when: always
    paths:
      - ./output/test_pbi/

lint:
  stage: analyze
  tags:
    - barberini
  script:
    - make lint

validate-markdown:
  stage: analyze
  tags:
    - barberini
  before_script:
    - container=$(docker ps -f name=gitlab-runner-barberini_analytics_luigi -q)
    - if [ -n "$container" ]; then docker stop $container && docker rm $container; fi
    - make startup
  script:
    - docker exec gitlab-runner-barberini_analytics_luigi remark -u validate-links .
  after_script:
    - make shutdown
