[email]
force-send=False
method=smtp
prefix=[BP]
receiver=BP2019FN1-students@hpi.de

[retcode]
# The following return codes are the recommended exit codes for Luigi
# They are in increasing level of severity (for most applications)
already_running=10
missing_data=20
not_run=25
task_failed=30
scheduling_error=35
unhandled_exception=40

[smtp]
host=${SMTP_HOST}
port=${SMTP_PORT}
username=${SMTP_USERNAME}
password=${SMTP_PASSWORD}

[worker]
timeout=600
# (600 seconds = 10 minutes)

[core]
log_level=INFO # Use DEBUG for debugging
