# Helper to upgrade these requirements
pip-upgrader==1.4.15

# Indirect dependencies (explicitly listed because of
# https://github.com/pypa/pip/issues/988)
docutils<0.16,>=0.10  # for botocore
setuptools>=40.3.0  # for google-auth

# Framework
luigi==3.0.0
psycopg2==2.8.5

# Testing tools
checksumdir==1.2.0
coverage==5.2
django==3.0.8
flake8==3.8.3
freezegun==0.3.15
validators==0.15.0

# Data sources
google-api-python-client==1.9.3
git+https://github.com/twollnik/twitterscraper.git#egg=twitterscraper

# Analysis tools
scikit-learn==0.23.1
pgeocode==0.2.1
## ABSA
gensim==3.8.3
spacy==2.3.1
## topic_modeling
git+https://github.com/rwalk/gsdmm.git#egg=gsdmm
langdetect==1.0.8
nltk==3.5
stop-words==2018.7.23

# Helpers
bs4==0.0.1
dateparser==0.7.6
jstyleson==0.0.2
lockfile==0.12.2
mmh3==2.5.1
numpy==1.19.0
oauth2client==4.1.3
pandas==1.0.5
PyYAML==5.3.1
requests==2.24.0
tqdm==4.48.0
xlrd==1.2.0
xmltodict==0.12.0
